@import "../../../source/styles/mixin.scss";

.productsMainBlock{
  padding: 200px 16px;
  max-width: 1724px;
  margin: 0 auto;


  .prg{
    max-width: 900px;
    margin-bottom: 40px;
  }

  .sortBtn{
    min-width: 185px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
    background-color: #FAFAFA;
    transition: 0.1s ease-in-out all;
    cursor: pointer;
    &:hover{
      background-color: #F2F2F2;
    }
    img{
      position: relative;
    }
  }
  .activeBtn{
    span{
      position: relative;
      &:before{
        content: ' ';
        position: absolute;
        left: -45px;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        min-width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #6ACB91;
      }
    }
  }

  .rentCarBlock{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 450px;
    width: 100%;
    border-radius: 24px;
    padding: 65px;
    margin: 16px 0;
    @include screen($tablet){
      padding: 40px 16px 24px;
    }

    .miniHeader{
      font-size: 68px;
      font-family: 'Nexa-Light', sans-serif;
      line-height: 130%;
      text-align: center;
      @include screen($tablet){
        font-size: 40px;
      }
    }

    .underHeader{
      margin-bottom: 40px;
      max-width: 1400px;
      text-align: center;
    }


    .calculateBtn{
      min-width: 250px;
      text-align: center;
    }

  }

  .itemsSection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .showMoreBtn{
    margin: 40px auto 0;
    display: block;
    cursor: pointer;
    max-width: 564px;
    width: 100%;
    border: 1px solid #E4E4E4;
    background-color: #FAFAFA;
    transition: 0.2s ease-in-out all;
    border-radius: 8px;
    padding: 16px;

    &:hover{
      background-color: #F2F2F2;
    }

  }

  .SortCont{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 180;
    transition: 1s ease-in-out all;

    .backgroundBlock{
      background-color: rgba(0, 0, 0, 0.35);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
    }

    .sortBlock{
      position: absolute;
      z-index: 2;
      right: 0;
      top: 0;
      padding: 35px 32px;
      background-color: white;
      height: 100%;
      border-radius: 16px;
      max-width: 470px;
      width: 100%;
      @include screen($tablet-m){
        max-width: 100%;
        border-radius: 0;
      }
      @include screen($mobile-m){
        padding: 24px 16px;
      }


      .closeBtn{
        cursor: pointer;
        padding: 8px;
        background-color: transparent;
        border: none;
        margin-right: 60px;
      }

      .prg24{
        font-size: 24px;
        font-family: "Inter-Regular", sans-serif;
        line-height: normal;
        color: black;
      }

      .acceptBtn{
        width: 100%;

      }

      .btnBlock{
        padding-top: 32px;
        background-color: white;
        width: 100%;
      }

      .selectsCont{
        overflow-x: auto;
        flex-grow: 1;
        position: relative;
        z-index: 15;
        padding: 10px 0 200px;
      }





    }

  }

  .sortBlockAnim{
    animation-name: sortAnim;
    animation-duration: 1s;
    transition: 1s ease-in-out all;
  }

  .sortBlockAnim2{
    animation-name: sortAnim2;
    animation-duration: 1s;
    transition: 1s ease-in-out all;
  }


}

@keyframes sortAnim {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes sortAnim2 {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
}