@import "../../source/styles/mixin.scss";
.ProductsItem{
  width: 33%;
  padding: 24px;
  background-color: #FAFAFA;
  border-radius: 16px;
  margin-bottom: 16px;
  @include screen($tablet-l){
    width: 49%;
  }
  @include screen($tablet){
    width: 100%;
    padding: 20px;
  }
  @include screen($tablet-m){
    padding: 16px;
  }

  .imgBlock{
    width: 100%;
    height: 300px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    display: block;
    @include screen($wide){
      height: 240px;
    }
    @include screen($tablet){
      height: 300px;
    }
    @include screen($tablet-m){
      height: 240px;
    }
    .statusBlock{
      width: 100%;
      padding: 24px;
      @include screen($wide){
        padding: 16px;
      }

      .availablePrg{
        padding: 2px 10px 2px 22px;
        border-radius: 30px;
        background-color: white;
        width: max-content;
        span{
          position: relative;
          &:before{
            content: ' ';
            position: absolute;
            left: -8px;
            top: 50%;
            transform: translateY(-50%);
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background-color: #6ACB91;
          }
        }
      }
      .discountPrg{
        padding: 2px 10px;
        background-color: #F5C7C7;
        border-radius: 30px;
        width: max-content;
      }

      .bestsellerPrg{
        padding: 2px 10px;
        background-color: #FFDE89;
        border-radius: 30px;
        width: max-content;
      }
    }

  }

  .name{
    font-size: 24px;
    font-family: 'Inter-Regular', sans-serif;
    line-height: normal;
    text-decoration: none;
    display: block;
  }

  .descriptionBlock{
    img{
      margin-right: 12px;
    }

    .statusName{
      text-align: start;
    }

    .status{
      text-align: end;
    }


  }

  .buyBtn{
    padding: 16px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    border: none;
    text-decoration: none;
    display: block;
    &:hover{
      background-color: #F2F2F2;
    }
    &:active{
      background-color: #E4E4E4;
    }
  }



}